<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.videoplaymodule" >

    <application
        android:allowBackup="false"
        android:label="@string/videoplay_app_name"
        android:supportsRtl="true"
        >

        <!--configChanges ：解决手机屏幕由于横竖切换的时候，导致生命周期回调的问题-->
        <activity
            android:name=".view.VideoDetailedPageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            >

        </activity>

    </application>

</manifest>
