<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.videoplaymodule">
    <application
        android:name=".com.example.loginmodule.debug.VideoPlayApplication"
        android:allowBackup="true"
        android:label="@string/videoplay_app_name"
        android:supportsRtl="true"
        android:theme="@style/videoplay_AppTheme">
        <activity android:name=".VideoPlayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>


